.tournamentListCard {
  position: relative;
  height: 276px;
}

.ticket {
  width: 100%;
  height: 100%;
}

.tournamentListCardContent {
  position: absolute;
  top: 0;
  left: 5%;
  width: 88%;
}

.fantasyCardsPreview {
  margin-bottom: 8px;
}

.playButtonContainer {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
}

.playButton {
  width: 120px;
}

.tournamentAvailabilityInfo {
  position: absolute;
  top: 0;
  right: 24px;
}

.titleWithParticipantsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: calc(100% - 104px);
  min-height: 94px;
  margin-top: 54px;
  padding-left: 30px;
}

.tournamentPrizeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 12px);
  padding-left: 30px;
  margin-bottom: 16px;
}

.tournamentImage {
  position: absolute;
  top: 25%;
  right: 16px;
  width: 80px;
  height: 80px;
}
