.tournamentListCardContainer {
  position: relative;
}

.tournamentListCard {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 46px 24px 16px 10px;
  border-radius: 12px;

  gap: 0;
  clip-path: polygon(0% 14%, 12% 0, 100% 0%, 100% 85%, 92% 100%, 0% 100%, 0% 79%, 7% 70%, 7% 37%, 0% 28%);
  background: linear-gradient(90deg, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);

  & * {
    z-index: 1;
  }
}

.playButtonContainer {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
}

.playButton {
  width: 120px;
}

.tournamentCardBackground {
  position: absolute;
  top: 0;
  left: 0;
}

.tournamentAvailabilityInfo {
  position: absolute;
  top: 0;
  left: 46px;
  right: 36px;
}

.titleWithParticipantsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: calc(100% - 104px);
  min-height: 94px;
  margin-top: 44px;
  padding-left: 30px;
}

.tournamentPrizeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;
  margin-bottom: 16px;
}

.tournamentImage {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 25%;
  right: 24px;
  z-index: 2;
}

.tournamentTicketFragment {
  position: absolute;
  top: 31%;
  left: -3%;
  z-index: 9999;
}

.viewDetailsButton {
  width: fit-content;
}
