*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

body, html {
  height: 100vh;
  width: 100%;
}

img, picture, video, canvas, svg {
  display: block;
}

body {
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  font-family: 'Orbitron', sans-serif;
}

#root {
  isolation: isolate;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: unset;
}
