@keyframes animateWaves {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.gameCardPreview {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 12px;
}

.commonGameCardPreview {
  @extend .gameCardPreview;
  box-shadow: 0 0 8px 0 #FECFEF;

  .gameCardPreviewHead {
    background: linear-gradient(90deg, #FF9A9E 0%, #FECFEF 99%, #FECFEF 100%);
  }
}

.rareGameCardPreview {
  @extend .gameCardPreview;

  box-shadow: 0 0 8px 0 #00C9FF;

  .gameCardPreviewHead {
    background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
  }
}

.epicGameCardPreview {
  @extend .gameCardPreview;

  box-shadow: 0 0 8px 0 #CD9CF2;

  .gameCardPreviewHead {
    background: linear-gradient(90deg, #CD9CF2 0%, #F6F3FF 100%);
  }
}

.legendaryGameCardPreview {
  @extend .gameCardPreview;

  box-shadow: 0 0 8px 0 #FF4E50;

  .gameCardPreviewHead {
    background: linear-gradient(90deg, #F9D423 0%, #FF4E50 100%);
  }
}

.gameCardPreviewHead {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 24px;
}

.cardName {
  color: #101828;
}

.gameCardPreviewContent {
  position: relative;
  height: calc(100% - 24px);
  background-color: #07032B;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.gameCardPreviewImage {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.gameCardPreviewFooter {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.gameCardPreviewOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.effect::before, .effect::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: radial-gradient(circle, rgba(0,255,255,0.5) 0%, rgba(0,0,0,0) 70%);
  animation: animateWaves 0.5s linear forwards;
  opacity: 0.7;
  z-index: 1;
  border-radius: 50%;
}

.infoIconContainer {
  position: absolute;
  top: -6px;
  right: -12px;
  background: linear-gradient(111.04deg, #2CD8D5 0%, #6B8DD6 47.26%, #8E37D7 98.45%);
  border-radius: 8px;
}

.infoIcon {
  width: 32px;
  height: 32px;

  & > rect {
    display: none;
  }
}
