.menuTabBar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 77px;
  min-height: 77px;
  padding: 0 8px;
  background: #242424;
  border-top: 1px solid #8C8498;
}

.menuSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2px;
  width: 100%;
  margin: 12px 0;
  cursor: pointer;

  & > svg {
    width: 24px;
    height: 24px;
    stroke: #FFFFFF;
  }
}

.selectedMenuSection {
  & > .menuSectionTitle {
    color: #F7D6A3;
  }

  & > svg {
    stroke: #F7D6A3;
  }

  &::after {
    visibility: visible;
  }
}

.menuSectionTitle {
  font-size: 0.625rem;
}
