@use "sass:math";

$rotationDegree:70deg;
$loaderColor: #E6B980;
$loaderSpeed: 1s;

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  row-gap: 16px;
  width: 100%;
  background: #0B0B0B;
}

.loadingText {
  animation: fadeInOut 3s ease-in-out infinite;
}
