.questInfoTag {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 25px;
  padding: 4.5px 8px;
}

.moderationQuestInfoTag {
  @extend .questInfoTag;

  background: linear-gradient(90deg, #E6B980 0%, #EACDA3 100%);

  & > svg {
    stroke: #0B0B0B;
  }
}

.inProgressWithEndDateQuestInfoTag {
  @extend .questInfoTag;

  background: linear-gradient(90deg, #E6B980 0%, #EACDA3 100%);

  & > svg {
    fill: #0B0B0B;
  }
}

.waitingForClaimQuestInfoTag {
  @extend .questInfoTag;

  background: linear-gradient(90deg, #E6B980 0%, #EACDA3 100%);

  & > svg {
    fill: #0B0B0B;
  }
}

.completedQuestInfoTag {
  @extend .questInfoTag;

  background: #69696966;
  color: #E6B980;

  & > svg {
    stroke: #E6B980;
  }
}

.clockIcon {
  fill: #0B0B0B;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
