.tournamentDetails {
  position: relative;
}

.tournamentAvailabilityInfo {
  margin-bottom: 16px;
}

.sections {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 16px;
  overflow: auto;
  height: 100%;
}
