.buttonsToggle {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  border-radius: 12px;
  padding: 4px;
  background-color: #190A31;
  border: 1px solid rgba(140, 132, 152, 0.4);
}

.toggleButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 11px;
  border-radius: 12px;
  cursor: pointer;
}

.selectedToggleButton {
  @extend .toggleButton;

  background: linear-gradient(111.04deg, rgba(44, 216, 213, 0.4) 0%, rgba(107, 141, 214, 0.4) 47.26%, rgba(142, 55, 215, 0.4) 98.45%);
}
