.questDetails {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.questImage {
  width: 80px;
  height: 80px;
}

.questActionsContainer {
  width: 100%;
  margin-top: auto;
}

.endDateInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid #696969;
  border-radius: 4px;
  padding: 1px 8px;
}
