.tokensCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tokensGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;

}

.token {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  perspective: 1000px;
  aspect-ratio: 1/1;
}

.tokenInnerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flippedTokenInnerWrapper {
  @extend .tokenInnerWrapper;

  transform: rotateY(180deg);
}

.directionButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
  -webkit-tap-highlight-color: transparent;
}

.directionButtonContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 16px;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.growthButton {
  @extend .directionButton;

  background-color: #10C6001A;
  border: 1px solid #4F8F45;
  border-radius: 12px 12px 0 0;
  color: #10C600;

  .arrow {
    transform: rotate(180deg);
    stroke: #10C600;
    fill: #10C600;
  }

  .directionButtonContent {
    margin-top: 2px;
  }
}

.selectedGrowthButton {
  @extend .growthButton;

  background-color: #4F8F45;
  color: #FFFFFF;

  .arrow {
    stroke: #FFFFFF;
    fill: #FFFFFF;
  }
}

.fallButton {
  @extend .directionButton;

  align-items: end;
  background-color: #D600001A;
  border: 1px solid #990000;
  border-radius: 0 0 12px 12px;
  color: #D60000;

  .arrow {
    stroke: #B50000;
    fill: #B50000;
  }

  .directionButtonContent {
    margin-bottom: 2px;
  }
}

.selectedFallButton {
  @extend .fallButton;

  background-color: #990000;
  color: #FFFFFF;

  .arrow {
    stroke: #FFFFFF;
    fill: #FFFFFF;
  }
}

.nonSelectedDirectionButton {
  @extend .directionButton;

  background-color: #8A8A8A1A;
  border: 1px solid #8A8A8A;
  color: #8A8A8A;

  .arrow {
    stroke: #8A8A8A;
    fill: #8A8A8A;
  }
}

.tokenFrontImage {
  width: 48%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 4px;
}

.tokenBackImage {
  @extend .tokenFrontImage;

  width: 20%;
  margin-top: 8px;
}

.tokenInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

.tokenSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #8C8498;
  border-radius: 12px;
  background-color: #FFFFFF1A;
}

.tokenBack {
  @extend .tokenSide;

  justify-content: flex-start;
  transform: rotateY(180deg);
  overflow: hidden;
}

.tokenFront {
  @extend .tokenSide;
}

.selectedTokenFront {
  @extend .tokenFront;

  border: 0;

  .tokenFrontImage {
    width: 24%;
    aspect-ratio: 1/1;
  }

  .tokenInformation {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    background: linear-gradient(111.04deg, #2CD8D5 0%, #6B8DD6 47.26%, #8E37D7 98.45%);
    padding: 4px 0 4px 0;
    border: 1px solid #8C8498;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 0.75rem;
    border-radius: 100px;
  }
}

.pricingSwitch {
  position: absolute;
  top: -32px;
  right: 0;
}

.sparklinesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
  padding-bottom: 2px;
}

.coinsHistoryPeriodInformation {
  position: absolute;
  top: -24px;
  left: 0;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}
