.questListItem {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #696969;
  padding: 20px 16px;
  background: #242424;
  -webkit-tap-highlight-color: transparent;
}

.questListItemContent {
  width: calc(100% - 110px);
}

.questListItemTitle {
  margin-bottom: 8px;
}

.questImage {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 4px;
}

.chevronIcon {
  position: absolute;
  top: 16px;
  right: 21px;
  stroke: #FFFFFF;
}

.questInfoTag {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
