.sections {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
  margin-top: 24px;
}

.classicChallengeOfferInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
}

.portfolioAvailableNotification {
  margin-left: auto;
}

.tournamentSectionImage {
  top: -10px;
  width: unset;
  height: 179px;
  transform: rotateZ(23.47deg);
}

.portfoliosGame {
  flex-grow: 1;
  padding: 32px 16px 16px;
}
