.buttonsToggle {
  margin-bottom: 16px;
}

.tournamentsPageTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;  
  color: var(--white, #FFFFFF);
  padding-bottom: 40px;
}
