.tournamentParticipationInfoContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  row-gap: 16px;
}

.deckConfiguration {
  overflow: auto;
  flex-grow: 1;
}

.portfoliosGame {
  padding: 16px;
  flex-grow: 1;
}

.portfoliosTournamentDescription {
  padding-top: 32px;
  margin: auto;
}
