.winner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.winnerAvatar {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.reward {
  border-radius: 4px;
  padding: 4px 15.5px;
  background: linear-gradient(90deg, #E6B980 0%, #EACDA3 100%);
  margin-top: 4px;
}

.rewardNumber {
  padding-top: 4px;
}

.tokenImg {
  width: 30px;
  height: 30px;
}

.zeroCircle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 78px;
  background: linear-gradient(218.74deg, rgba(247, 214, 163, 0.4) 0%, rgba(51, 31, 0, 0.4) 77.74%);

  &::before {
    content: '';
    position: absolute;
    top: -24px;
    width: 114px;
    height: 24px;
    background: linear-gradient(263.3deg, rgba(247, 214, 163, 0.4) 10.51%, rgba(51, 31, 0, 0.4) 79.42%);
    transform: rotateX(45deg) rotateZ(45deg);
  }
}
