.livePortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.livePortfolioCard {
  margin-top: 16px;
}

.livePortfolioChoiceDescription {
  margin-top: 4px;
}

.noLivePortfolioTypography {
  margin: auto;
}
