.winnersContainer {
  display: flex;
  justify-content: space-between;
}

.winner {
  &:first-child {
    order: 1;
  }

  &:nth-child(2) {
    order: 0;
  }

  &:nth-child(3) {
    order: 2;
  }

  &:not(:first-child) {
    margin-top: 44px;
  }
}
