.inviteFriendsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #696969;
  border-radius: 12px;
  padding: 16px;
  background: #242424;
}

.inviteFriendsButtonsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: 100%;
  margin-top: 24px;
}

.copyButton {
  width: 20%;

  & svg {
    stroke: #000000;
  }
}

.pointsGainDescription {
  display: flex;
  column-gap: 8px;
}
