.tournamentAvailabilityInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 44px;
}

.statusBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(230, 185, 128, 0.5) 0%, rgba(234, 205, 163, 0.5) 100%);
  min-width: 86px;
  height: 49px;
  border-radius: 0 12px 0 12px;
  font-size: 0.85rem;
  font-weight: 500;
  position: relative;
  color: black;
  padding: 0 10px;
  text-transform: capitalize;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #E6B980 0%, #EACDA3 100%);
    border-bottom: 10px solid #EACDA3;
    border-right: 0 solid transparent;
    border-left: 10px solid transparent;
    bottom: 0;
    right: 0;
  }

  &::before {
    content: '';
    background: linear-gradient(90deg, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);
    border-bottom: 17px solid #E3EEFF;
    border-right: 0 solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.upcomingStatusBadge {
  @extend .statusBadge;
}

.liveStatusBadge {
  @extend .statusBadge;
}

.registrationStatusBadge {
  @extend .statusBadge;
}

.finishedStatusBadge {
  @extend .statusBadge;

  background: #B0B0B0;

  &::after {
    border-bottom: 10px solid #B0B0B0;
  }
}

.remainingTime {
  padding-top: 10px;
}
