.tournamentAvailabilityInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statusBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #190A31;
  padding: 0 18.5px;
  border-radius: 12px;
  font-size: 0.625rem;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: capitalize;
}

.upcomingStatusBadge {
  @extend .statusBadge;

  background-color: #FFB800;
}

.liveStatusBadge {
  @extend .statusBadge;

  background-color: #10C600;
}

.finishedStatusBadge {
  @extend .statusBadge;

  background-color: #8C8498;
}
