.labeledContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 4px;
}

.rowLabeledContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.labeledContentTitle {
  color: #439CB5;
}
