.portfoliosGame {
  display: flex;
  flex-direction: column;
}

.offersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.buttonToggle {
  margin-bottom: 16px;
}

.noOfferAvailableText {
  margin: auto;
}
